* {
    margin: 0;
    padding: 0;
    background-color: #eedeeb;
}

/* About Section */

.about {
    background-color: var(--bg-color);
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left {
    background-color: var(--bg-color);
    border-radius: 10px 10px 0 0;
}

.about .left img {
    border: 4px solid;
    border-radius: 20px;
    width: 650px;
    height: 450px;
    transition: all .3s ease-out;
}

.about .left img:hover {
    transform: scale(110%);
    border-color: blueviolet;
}

.about .right p {
    color: var(--text-color);
    text-align: justify;
    font-size: 22px;
    margin-top: 30px;
}

.about2 {
    background-color: var(--bg-color);
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.about2 .left {
    background-color: var(--bg-color);
    border-radius: 200px 200px 0 0;
}
.about2 .right p {
    color: var(--text-color);
    text-align: justify;
    font-size: 22px;
    margin-top: 30px;
}

.about2 .left img {
    border: 4px solid;
    border-radius: 20px;
    width: 650px;
    height: 850px;
    transition: all .3s ease-out;
}
.about2 .left img:hover {
    transform: scale(110%);
    border-color: blueviolet;
}